<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ajedrez.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ajedrez.Properties.Settings.AjedrezConnectionString"
            connectionString="Data Source=DESKTOPJUAN\SQLEXPRESS;Initial Catalog=Ajedrez;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Ajedrez.Properties.Settings>
            <setting name="ColorCasillasBlancas" serializeAs="String">
                <value>#FFF5FFFB</value>
            </setting>
            <setting name="ColorCasillasNegras" serializeAs="String">
                <value>#FF4182BB</value>
            </setting>
            <setting name="ConjuntoPiezas" serializeAs="String">
                <value>Alpha</value>
            </setting>
            <setting name="CoronarSiempreDama" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaracteresPieza" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TamañoLetraJugadas" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BackgroundJugadas" serializeAs="String">
                <value>#FF191919</value>
            </setting>
            <setting name="BackgroundJugadores" serializeAs="String">
                <value>#FF292929</value>
            </setting>
            <setting name="BackgroundReloj" serializeAs="String">
                <value>#FF111111</value>
            </setting>
            <setting name="SePuedeDeshacerEnJuego" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Motor" serializeAs="String">
                <value>stockfish_20011801_x64.exe</value>
            </setting>
            <setting name="BackgroundMotor" serializeAs="String">
                <value>#FF111111</value>
            </setting>
            <setting name="SePuedeExigirJugada" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProfundidadAnalisis" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="CantidadDeLineasAnalisis" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HilosAnalisis" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HashAnalisis" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MoverArrastrando" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EliminarDirectamente" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProfundidadConTiempoIlimitado" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="BackgroundBaseDeDatos" serializeAs="String">
                <value>#FF111111</value>
            </setting>
            <setting name="BackgroundDataGrid" serializeAs="String">
                <value>#FF1E1E1E</value>
            </setting>
            <setting name="BackgroundDataGridRow" serializeAs="String">
                <value>#FF101010</value>
            </setting>
            <setting name="BackgroundDataGridRowAlternativo" serializeAs="String">
                <value>#FF151515</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>#FF1E1E1E</value>
            </setting>
            <setting name="BackgroundBotones" serializeAs="String">
                <value>#FF90EE90</value>
            </setting>
            <setting name="BackgroundMenu" serializeAs="String">
                <value>#FF383838</value>
            </setting>
            <setting name="BackgroundBarraMenu" serializeAs="String">
                <value>#FF202020</value>
            </setting>
            <setting name="BackgroundComboBox" serializeAs="String">
                <value>#FF404040</value>
            </setting>
            <setting name="ColorTexto" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorTextoBaseDeDatos" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorTextoDataGrid" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorTextoJugadas" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorTextoJugadores" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorTextoMotor" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorTextoReloj" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorTextoBotones" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="ColorTextoMenu" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorTextoBarraMenu" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorTextoComboBox" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorTextoTextBox" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="BackgroundTextBox" serializeAs="String">
                <value>#FF404040</value>
            </setting>
            <setting name="BackgroundListBox" serializeAs="String">
                <value>#FF404040</value>
            </setting>
            <setting name="ColorTextoListBox" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorTextoError" serializeAs="String">
                <value>#FFCC0000</value>
            </setting>
            <setting name="BackgroundDataGridHeader" serializeAs="String">
                <value>#FF030303</value>
            </setting>
            <setting name="ColorTextoDataGridHeader" serializeAs="String">
                <value>#FFCCCCCC</value>
            </setting>
            <setting name="ColorBordeCasillaSeleccionada" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="AvisarReiniciar" serializeAs="String">
                <value>True</value>
            </setting>
        </Ajedrez.Properties.Settings>
    </userSettings>
</configuration>